.enfoco {    
    box-shadow: 0 0 5px rgba(0,0,255,1);
    border:1px solid rgba(0,0,255,0.8);
    /*verdebox-shadow: 0 0 5px rgba(0,255,0,1);
    border:1px solid rgba(0,255,0,0.8);*/  
   /*cafebox-shadow: 0 0 5px rgba(230,95,0,1);
   border:1px solid rgba(230,95,0,0.8);   */
}

.ayuda {
    font-size:xx-small;
    color:green;
}

.error {
    box-shadow: 0 0 5px rgba(255,0,0,1);
    border:1px solid rgba(255,0,0,0.8);
}

