#nombrepagina {
    text-align:right;
    color:blue;
    font-size:medium;
    margin:0 0;
}

#cantidadRegistros {
    text-align:left;
    color:blue;
    font-size:medium;
    margin:0 0;
}

#data {
    margin:0 auto;
}

body {
}

#paginacion {
    margin:0 auto;
}

.errorCategoriaNivel {
    /*background-color:yellow;
    border:1px solid red;*/
    font-size:xx-large;
    text-align:center;
}




